.container {
  width: 100%;
  min-width: 0;
  position: relative;
}

.container :global(.slick-slider),
.container :global(.slick-list),
.container :global(.slick-track) {
  touch-action: pan-y;
}

.item {
  list-style: none;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;

  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}